@use "./base.scss";

// put your custom CSS here!

// Fix PDF popover sizing to prevent font-size changes
.popover > .popover-inner {
  font-size: 1rem !important;

  &[data-content-type*="pdf"] {
    width: 40rem;
    height: 30rem;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
